@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
    <p/>
    <a href="elmah.axd">Take a look at the log</a>
</h2>
