<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="TrailsContext"
        connectionString="Data Source=E6500-ANDYT\SQL2008;Initial Catalog=Trails;Integrated Security=True"
        providerName="System.Data.SqlClient"/>-->

    <!--This is the connection string for the database which EF (not NHibernate) would create by default if the connectionstring were to be missing-->
    <add name="TrailsContext"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=Trails2012.DataAccess.EF.TrailsContext;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>